

* {
    box-sizing: border-box;
}

.boxStart {
    position: relative;
    width: 200px;
    height: 200px;
    border: 1px solid red;
}

.ghost {
    position: absolute;
    height: 100%;
    width: 80%;
    top: 0;
    left: 10%;
    border: 1px solid black;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    background-color: red;
    z-index: 3;
}

.mask {
    position: absolute;
    display: inline-block;
    left: 10%;
    height: 80%;
    width: 80%;
    border-radius: 50%;
    top: 5%;
    background-color: black;
}

.mask.ring {
    position: absolute;
    display: inline-block;
    left: 25%;
    height: 40%;
    width: 50%;
    border-radius: 50%;
    top: 15%;
    border: 4px solid white;
    background-color: black;
}

.pacman {
    z-index: 2;
    position: absolute;
    height: 80%;
    width: 80%;
    top: 10%;
    left: 10%;
    border-radius: 50%;
    background-color: yellow;
}

.eye {
    
}

